#dict {
  font-size: 1.5em;
}
#text {
  font-size: 1.2em;
  letter-spacing: -0.2em;
  padding-bottom: 1em;
  line-height: 1.5;
}

#character, #pronunciation, #meaning{
  padding-bottom: 5px;
  line-height: 1.2;
}